body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 550px;
    display: flex;
    gap: 11.25em;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    margin-left: 2.8em;
}

.center_logo {
    width: 84px;
    height: 42px;
}

.side_logo {
    width: 32.33px;
    height: 34px;
}

.dog_img {
    width: 534px;
    border-radius: 15px;
}

.sec1 {
    position: relative;
    margin-bottom: 1.56em;
}

.name,
.bio {
    color: white;
    position: absolute;
    font-family: 'Poppins', sans-serif;

}

.name {
    font-size: 2rem;
    bottom: 45px;
    left: 16px;
    font-weight: 600;
}

.bio {
    font-size: 1.5rem;
    bottom: 15px;
    left: 16px;
    font-weight: 400;
}

footer {
    display: flex;
    gap: 1.6em;
    margin-bottom: 1.6em;
}

footer img {
    padding: 1em;
    border-radius: 50px;
    background: linear-gradient(180deg, #fbfbfb 0%, #dbdde5 100%);
}